<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>US2 관리자 페이지</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!--Table Css-->
    <link href="/css/datatables.min.css" rel="stylesheet">
    <script src="/js/datatables.min.js"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/member">
            <div class="sidebar-brand-text mx-3">US2</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/member">
                <span>사용자 관리</span>
            </a>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="/sponsor" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <span>후원 관리</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/sponsor">후원</a>
                    <a class="collapse-item" href="/#">증원</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/breed">
                <span>게시글 관리</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/comm">
                <span>커뮤니티 관리</span>
            </a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="/faq">
                <span>입양상식 관리</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/banner">
                <span>배너 관리</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/question">
                <span>문의 관리</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                    </li>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">후원 관리</h1>
                </div>

                <!-- Content -->
                <div class="row">
                    <table id="myTable" class="display" style="width: 120%">
                        <thead>
                        <th><input type="checkbox" id="allCheckBox" onclick="allChecked();"/>전체 선택</th> <!-- 체크박스 -->
                        <th>ID</th>
                        <th>분류</th>
                        <th>임시비밀번호</th>
                        <th>후원금액</th>
                        <th>후원기간</th>
                        <th>은행명</th>
                        <th>계좌번호</th>
                        </thead>
                        <tbody>
                        <tr th:each="sponsor : ${spon_list}">
                            <td><input type="checkbox" th:value="${sponsor.spon_id}" name="sponIds"
                            /></td> <!-- 체크박스 -->
                            <td th:text="${sponsor.spon_id}"></td>
                            <td>
                                <a th:text="${sponsor.name}" th:href="@{/spon_info(sponId=${sponsor.spon_id})}"></a>
                            </td>
                            <td th:text="${sponsor.pay}"></td>
                            <td th:text="${sponsor.pay_date}"></td>
                            <td th:text="${sponsor.bank}"></td>
                            <td th:text="${sponsor.account}"></td>
                            <td th:text="${sponsor.pw2}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" onclick="deleteCheckBox()">삭제</button>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span></span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function (){
        $('#myTable').DataTable({
            language: {
                search: "검색어 입력:  "
        }
   });
});
    window.addEventListener('DOMContentLoaded', (event) => {
    });

    function allChecked(){
        if($("#allCheckBox").is(':checked')){
            $("input[name=sponIds]").prop("checked", true);
        } else{
            $("input[name=sponIds]").prop("checked", false);
        }
    }
    function deleteCheckBox(){
        var arr = new Array();

        //선택된 체크박스의 id가져와서 배열에 값 집어넣기
        $("input[name='sponIds']:checked").each(function() {
            arr.push(parseInt($(this).attr('value')));
        });

        if(arr.length === 0){
            alert("선택된 글이 없습니다.");
        } else{
            console.log(arr);
            $.ajax({
                type: "POST",
                url: "/delete_spon",
                contentType:"application/json",
                data: JSON.stringify(arr),
                dataType: "json",
                success: function(deldata){
                    if (deldata == 1) {
                        location.href = '/member'  //삭제 성공시 리스트 새로고침
                    }else {
                        alert("삭제 실패하였습니다.");
                    }
                },
                error: function(){alert("서버통신 오류");}
            });
        }
    }
</script>
</body>
</html>